<?xml version='1.0' encoding='utf-8'?>
<robot name="real_robot">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0" />
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0" />
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0" />
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0" />
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0" />
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0" />
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>
  <material name="Beige">
    <color rgba="1.0 0.784 0.5765 1.0" />
  </material>
  <link name="torso">
    <inertial>
      <origin xyz="-0.0089207 -0.0001436 -0.030811" rpy="0 0 0" />
      <mass value="4.5143" />
      <inertia ixx="0.058755" ixy="8.3837E-06" ixz="0.0012116" iyy="0.055303" iyz="-7.9351E-05" izz="0.019504" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/torso.stl" />
      </geometry>
      <material name="material_01">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/torso.stl" />
      </geometry>
    </collision>
  </link>
  <link name="neck_yaw_link">
    <inertial>
      <origin xyz="-6.8654E-05 0.002134 0.11083" rpy="0 0 0" />
      <mass value="0.13381" />
      <inertia ixx="0.00015208" ixy="1.513E-07" ixz="5.3095E-09" iyy="0.00016557" iyz="-1.153E-06" izz="5.4014E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/neck_yaw_link.stl" />
      </geometry>
      <material name="material_16">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/neck_yaw_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="neck_yaw" type="revolute">
    <origin xyz="-0.015 0 0.108" rpy="0 0 0" />
    <parent link="torso" />
    <child link="neck_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="100" velocity="2.0" />
  </joint>
  <link name="head">
    <inertial>
      <origin xyz="0.036018 0.028074 0.046256" rpy="0 0 0" />
      <mass value="0.48287" />
      <inertia ixx="0.00059419" ixy="-2.0933E-05" ixz="-3.8024E-05" iyy="0.00056452" iyz="-9.4706E-05" izz="0.00060227" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/head.stl" />
      </geometry>
      <material name="material_17">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/head.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="neck_pitch" type="revolute">
    <origin xyz="0 -0.0351 0.1597" rpy="0 0 0" />
    <parent link="neck_yaw_link" />
    <child link="head" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5236" upper="0.5236" effort="100" velocity="2.0" />
  </joint>
  <link name="head_rgbd_camera">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  <joint name="head_rgbd_joint" type="fixed">
    <origin xyz="0.1088 0.05885 0.11245" rpy="-1.919862 0 -1.570796"/>
    <parent link="head"/>
    <child link="head_rgbd_camera"/>
  </joint>
  <link name="pelvis">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/pelvis.stl" />
      </geometry>
      <material name="material_18">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/pelvis.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_yaw" type="revolute">
    <origin xyz="0 0 -0.2995" rpy="0 0 0" />
    <parent link="torso" />
    <child link="pelvis" />
    <axis xyz="0 0 1" />
    <limit lower="-3.0543" upper="3.0543" effort="100" velocity="2.0" />
  </joint>
  <link name="hip_roll_link">
    <inertial>
      <origin xyz="0.072895 0.0085597 -0.0002593" rpy="0 0 0" />
      <mass value="4.1846" />
      <inertia ixx="0.018791" ixy="9.6865E-05" ixz="5.548E-05" iyy="0.019277" iyz="-1.9912E-05" izz="0.019714" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/hip_roll_link.stl" />
      </geometry>
      <material name="material_19">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/hip_roll_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_roll" type="revolute">
    <origin xyz="-0.0852 0 -0.13" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.4363" upper="0.4363" effort="100" velocity="2.0" />
  </joint>
  <link name="thigh">
    <inertial>
      <origin xyz="-0.00029072 -0.072995 -0.23827" rpy="0 0 0" />
      <mass value="3.3287" />
      <inertia ixx="0.074258" ixy="2.603E-06" ixz="-5.0309E-05" iyy="0.080276" iyz="3.1984E-05" izz="0.0063982" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/thigh.stl" />
      </geometry>
      <material name="material_20">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/thigh.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_pitch" type="revolute">
    <origin xyz="0.0852 0.088 0" rpy="0 0 0" />
    <parent link="hip_roll_link" />
    <child link="thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.9199" upper="1.5708" effort="100" velocity="2.0" />
  </joint>
  <link name="knee_pitch_link">
    <inertial>
      <origin xyz="-0.00038274 -0.091695 -0.17739" rpy="0 0 0" />
      <mass value="4.011" />
      <inertia ixx="0.12129" ixy="-3.222E-05" ixz="0.00018315" iyy="0.12017" iyz="8.3349E-05" izz="0.015352" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/knee_pitch_link.stl" />
      </geometry>
      <material name="material_21">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/knee_pitch_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="knee_pitch" type="revolute">
    <origin xyz="0 0 -0.42" rpy="0 0 0" />
    <parent link="thigh" />
    <child link="knee_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.62" upper="-0.2" effort="100" velocity="2.0" />
  </joint>
  <link name="ankle_pitch_link">
    <inertial>
      <origin xyz="-0.086917 -0.10407 0.045601" rpy="0 0 0" />
      <mass value="6.4328" />
      <inertia ixx="0.098429" ixy="5.2751E-05" ixz="0.0017666" iyy="0.059344" iyz="-0.00096486" izz="0.13203" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/ankle_pitch_link.stl" />
      </geometry>
      <material name="material_22">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/ankle_pitch_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="ankle_pitch" type="revolute">
    <origin xyz="0 -0.0125 -0.38" rpy="0 0 0" />
    <parent link="knee_pitch_link" />
    <child link="ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="0.2" upper="1.05" effort="100" velocity="2.0" />
  </joint>
  <link name="arm_base_link" />
  <joint name="arm_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="torso" />
    <child link="arm_base_link" />
  </joint>
  <link name="AR5-5_07R-W4C4A2_base">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link1">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.683" />
      <inertia ixx="0.00493673" ixy="0.00000160" ixz="-0.00000198" iyy="0.00452344" iyz="0.00000020" izz="0.00432910" />
      <origin rpy="0 0 0" xyz="-1e-06 0.000621 0.167909" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link2">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.3" />
      <inertia ixx="0.01151906" ixy="0.00000246" ixz="0.00000055" iyy="0.00993335" iyz="-0.00082477" izz="0.00435237" />
      <origin rpy="0 0 0" xyz="2e-05 0.003081 0.10298600000000001" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link3">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.862" />
      <inertia ixx="0.00519617" ixy="-0.00001270" ixz="0.00035675" iyy="0.00470378" iyz="-0.00003329" izz="0.00266768" />
      <origin rpy="0 0 0" xyz="0.007089000000000001 0.000655 -0.016514" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link4">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.234" />
      <inertia ixx="0.00389593" ixy="0.00004675" ixz="-0.00016955" iyy="0.00308688" iyz="-0.00046659" izz="0.00188378" />
      <origin rpy="0 0 0" xyz="-0.007832 0.004208999999999999 0.073402" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link5">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.328" />
      <inertia ixx="0.00284294" ixy="-0.00001276" ixz="0.00001949" iyy="0.00221035" iyz="-0.00002134" izz="0.00185120" />
      <origin rpy="0 0 0" xyz="0.000268 -0.0014750000000000002 -0.084143" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link6">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.93" />
      <inertia ixx="0.00072274" ixy="0.00000186" ixz="-0.00000123" iyy="0.00087867" iyz="0.00000057" izz="0.00092938" />
      <origin rpy="0 0 0" xyz="0.0051719999999999995 -0.000614 5.5e-05" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07R-W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_link7">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/right_wrist_pitch_link.stl" />
      </geometry>
      <origin rpy="3.141592653589793 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.332" />
      <inertia ixx="0.00052121" ixy="0.00000020" ixz="0.00003808" iyy="0.00079394" iyz="0.00000098" izz="0.00045990" />
      <origin rpy="3.141592653589793 0 0" xyz="-0.002716 -3.1e-05 -0.054983" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/right_wrist_pitch_link.stl" />
      </geometry>
      <origin rpy="3.141592653589793 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07R-W4C4A2_tcp">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <link name="AR5-5_07L-W4C4A2_base">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link1">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.683" />
      <inertia ixx="0.00493673" ixy="0.00000160" ixz="0.00000198" iyy="0.00452344" iyz="-0.00000020" izz="0.00432910" />
      <origin rpy="0 0 0" xyz="1e-06 -0.000621 0.167909" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link2">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.3" />
      <inertia ixx="0.01151906" ixy="0.00000246" ixz="-0.00000055" iyy="0.00993335" iyz="0.00082477" izz="0.00435237" />
      <origin rpy="0 0 0" xyz="-2e-05 -0.003081 0.10298600000000001" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link3">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.862" />
      <inertia ixx="0.00519681" ixy="0.00001208" ixz="0.00035761" iyy="0.00470446" iyz="0.00003430" izz="0.00266752" />
      <origin rpy="0 0 0" xyz="0.007097 -0.0006590000000000001 -0.016530999999999997" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link4">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.234" />
      <inertia ixx="0.00389590" ixy="-0.00004577" ixz="-0.00017280" iyy="0.00308657" iyz="0.00046679" izz="0.00188364" />
      <origin rpy="0 0 0" xyz="-0.007826 -0.004207 0.073404" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link5">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.329" />
      <inertia ixx="0.00281562" ixy="0.00001782" ixz="0.00001650" iyy="0.00221084" iyz="0.00002100" izz="0.00182169" />
      <origin rpy="0 0 0" xyz="0.00028399999999999996 0.0016510000000000001 -0.084133" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link6">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.93" />
      <inertia ixx="0.00072078" ixy="-0.00000217" ixz="0.00000108" iyy="0.00085153" iyz="0.00000048" izz="0.00090205" />
      <origin rpy="0 0 0" xyz="0.005405999999999999 0.000612 -3.9e-05" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/AR5-5_07L-W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_link7">
    <visual>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/left_wrist_pitch_link.stl" />
      </geometry>
      <origin rpy="3.141592653589793 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.33" />
      <inertia ixx="0.00051942" ixy="-0.00000052" ixz="0.00003721" iyy="0.00079132" iyz="0.00000265" izz="0.00045886" />
      <origin rpy="3.141592653589793 0 0" xyz="-0.00277 -0.000316 -0.054881" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://wheeled_robot_sim/meshes/left_wrist_pitch_link.stl" />
      </geometry>
      <origin rpy="3.141592653589793 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5-5_07L-W4C4A2_tcp">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <joint name="right_arm_mount" type="fixed">
    <parent link="arm_base_link" />
    <child link="AR5-5_07R-W4C4A2_base" />
    <origin rpy="1.570796 1.570796 0" xyz="0 -0.0725 0.0505" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_1" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_base" />
    <child link="AR5-5_07R-W4C4A2_link1" />
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.0543261909900763" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_2" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link1" />
    <child link="AR5-5_07R-W4C4A2_link2" />
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.0543261909900763" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_3" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link2" />
    <child link="AR5-5_07R-W4C4A2_link3" />
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_4" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link3" />
    <child link="AR5-5_07R-W4C4A2_link4" />
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.01 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_5" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link4" />
    <child link="AR5-5_07R-W4C4A2_link5" />
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="-0.01 0.0 0.272" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_6" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link5" />
    <child link="AR5-5_07R-W4C4A2_link6" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="0 1 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_7" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link6" />
    <child link="AR5-5_07R-W4C4A2_link7" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="1 0 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_tcp_joint" type="fixed">
    <parent link="AR5-5_07R-W4C4A2_link7" />
    <child link="AR5-5_07R-W4C4A2_tcp" />
    <origin rpy="0 -1.570796 0" xyz="0 0 0.31" />
  </joint>
  <joint name="left_arm_mount" type="fixed">
    <parent link="arm_base_link" />
    <child link="AR5-5_07L-W4C4A2_base" />
    <origin rpy="-1.570796 1.570796 0" xyz="0 0.0725 0.0505" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_1" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_base" />
    <child link="AR5-5_07L-W4C4A2_link1" />
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.0543261909900763" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_2" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link1" />
    <child link="AR5-5_07L-W4C4A2_link2" />
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.0543261909900763" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_3" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link2" />
    <child link="AR5-5_07L-W4C4A2_link3" />
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_4" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link3" />
    <child link="AR5-5_07L-W4C4A2_link4" />
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.01 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_5" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link4" />
    <child link="AR5-5_07L-W4C4A2_link5" />
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="-0.01 0.0 0.272" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_6" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link5" />
    <child link="AR5-5_07L-W4C4A2_link6" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="0 1 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_7" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link6" />
    <child link="AR5-5_07L-W4C4A2_link7" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="1 0 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_tcp_joint" type="fixed">
    <parent link="AR5-5_07L-W4C4A2_link7" />
    <child link="AR5-5_07L-W4C4A2_tcp" />
    <origin rpy="0 -1.570796 0" xyz="0 0 0.31" />
  </joint>
  <transmission name="right_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07R-W4C4A2_joint_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2_joint_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>